body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  background-image: url("images/wood_pattern1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* nav {
  background-color: black;
  width: 100%;
  height: 52px;
  z-index: 1;
} */

/* =========================== Welcome user ========================== */
.Header {
  color: firebrick;
  top: 39px;
  right: 3%;
  z-index: 100;
  position: absolute;
}

/* =========================== jumbotron TITLE ========================= */
.Home {
  height: 80px;
  padding-top: 40px;
  margin-bottom: 20px;
  background-color: white;
  text-align: left;
  color: black;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


h1 {
  font-size: 38px;
    color: black;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: -17px;
    margin-left: 16px;
}

h2 {
  margin: 20px;
  font-size: 18px;
  font-size: 24px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  margin: -15px 0px 15px;
}


li {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}


.boxes {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   clear: both;
   text-align: center;
   /* background-color: black; */
   margin-top: -20px;
   margin-bottom: 40px;

}



.learnBox {
  background-color: black;
  width: 200px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  

}

.teachBox {
  background-color: black;
  width: 200px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  

}

.feelingsBox {
  background-color: black;
  width: 200px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 10px;
  color: white;

}

/* ======================= TEAM ======================= */
.grid{
  /* Box-model */
  width: 100%;
  max-width: 860px;

  /* Positioning */
  margin: 0 auto;
  clear: both;
  text-align: center;
}

.teamMate { display: block;
  max-width: 200px;
  margin-bottom: 15px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
  color: white;
  
}

.teamMatePic {
  border-radius: 25px;
  width: 90%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 550;
  box-shadow: 5px 10px 8px black;
 
}

.teamMatePic p {
  font-weight: 300;
 
}

/********************** links *********************/
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;

  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  
  } 

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  li a:hover:not(.active) {
    color:  firebrick;
  }


/* ======================= MEETING STATS ======================= */

.MeetingStats table {
  background-color:rgba(255, 255, 255, 0.75);
}

.title {
  background-color: black;
  width: 300px;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

.MeetingStats p {
  color: firebrick;
  font-weight: 500;
}

.MeetingStats h3 {
  color: white;
  margin-bottom: 10px;
}

/* ======================= MEETING MAIN MENU ======================= */
/* create or join a meeting */

.MeetingMainMenu .card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.75)
}

/* ======================= LOGIN ======================= */
.marginLoginForm {
  margin-top: 100px;
}

.marginLoginForm h1 {
  margin-bottom: 30px;
  color: white;
}

.marginLoginForm label {
  margin: 20px;
  color: white;
  font-size: 18px;
  font-weight: 550;
}

.marginLoginForm button {
  margin-left: 10px;
}

.loggedOut {
  position: absolute;
  top: 250px;
  text-align: center;
  width: 100%;
  color: white;
}

.loggedOut h1 {
  color: white;
}

/* ======================= side hamburger menu for react.js ======================= */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 25px;
  left: 246px;
  top: 33px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
 
/* General sidebar styles */
.bm-menu {
  /* background: rgba(0, 0, 0, 0.7); */
  background-color: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: left;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  margin-top: 20px;
}

.bm-item-list a {
  padding-top: 10px;
  padding-bottom: 10px;
}

 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ======================= nav ======================= */

nav {
  text-align: left;
}

/* nav {
  background-color: black;
  width: 100%;
  height: 52px;
} */

/* ======================= REVIEW ======================= */
.bg-white {
  background-color: #fff!important;
  margin: 0 auto;
}

/* people on review page  */
peopleList{
  padding-right: 20px;
}

.search {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: black;
  background-image: none;
  border-color: #6c757d;
}

.btn-outline-success {
  color: #28a745;
  background-color: black;
  background-image: none;
  border-color: #28a745;
}

.reviewText {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  margin-bottom: 50px;
  font-size: 30px;
  background-color: black;
  border-radius: 25px;
  padding: 15px;
  width: 400px;
  margin: 0 auto;
}

/* ======================= FOOTER ======================= */
footer {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 70px;
  height: 60px;
  padding: 20px;
  position: static;
  bottom: 0px;
}

.homeFooter {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 70px;
  height: 60px;
  padding: 6px;
  position: static;
  bottom: 0px;
}

.logoutFooter {
  background-color: black;
  width: 100%;
  color: white;
  margin-top: 70px;
  height: 60px;
  padding: 6px;
  position: absolute;
  bottom: 0px;
}

